/* Reset */
:root {
    --red:#e50914;
    --black:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Arial', Times, serif;
    color: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 2.4rem;
    margin-left: 0.5rem;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* main movie*/

.main-movie {
    font-size: 1rem;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%),url('../img/stranger-thing-cover.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description {
    margin-top: 0.8rem;
    margin-bottom: 2.6rem;
}

.title {
    margin-top: 15%;
    font-size: 2.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: #fff;
    
    padding: 1rem 1.8rem;
    margin-right: 1rem;
    font-size: 0.8rem;

    cursor: pointer;
    transition: .3s ease all;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.button i {
    margin-right: 0.4rem;
}

.container {
    margin-left: 2rem;
}

.main-movie .container {
    width: 60%;
}

.box-movie {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-movies {
    margin-top: 0.5rem;
}